@model IEnumerable<MetStation.Models.Pomiary>

@{
    ViewBag.Title = "WeatherResult";
}

<h2>WeatherResult</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPomiaru)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cisnienie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NatezenieSwiatla)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdPomiaru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temperatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cisnienie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NatezenieSwiatla)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
